/* Stijl voor de balk */
.balk {
    position: sticky; /* Zorgt ervoor dat de balk sticky is */
    top: 0; /* Plaats bovenaan */
    width: 100%; /* Volledige breedte van het scherm */
    background-color: #cf3636; /* Achtergrondkleur */
    color: #fff; /* Tekstkleur */
    padding: 5px 0; /* Ruimte boven en onder de balk verminderen */
    box-sizing: border-box; /* De padding maakt deel uit van de breedte */
    z-index: 999; /* Zorg ervoor dat de balk boven andere elementen staat */
    text-align: center; /* Centreren van de inhoud */
    transition: top 0.3s; /* Soepele overgang bij het verbergen */
}

/* Stijl voor het logo */
.logo-container {
    display: inline-block; /* Zorgt ervoor dat het logo en tekst in dezelfde regel blijven */
    vertical-align: middle; /* Verticale uitlijning in het midden van de balk */
}

.logo {
    width: 100px; /* Breedte van het logo */
    height: auto; /* Hoogte automatisch aanpassen om de verhoudingen te behouden */
}

/* Stijl voor elk menu-item */
.menu-items {
    display: inline-block; /* Zorgt ervoor dat elk item naast elkaar wordt weergegeven */
    margin: 0 50px; /* Voegt 50px margin aan beide zijden van elk item toe */
    text-align: center; /* Centreert de inhoud van elk item */
    vertical-align: middle; /* Verticale uitlijning in het midden van de balk */
}

/* Stijl voor de links */
.menu-items a {
    color: #fff; /* Tekstkleur */
    text-decoration: none; /* Geen onderstreping */
}

/* Stijl voor de links bij hover */
.menu-items a:hover {
    text-decoration: underline; /* Onderstreping bij hover */
}

/* Stijl voor het winkelmandje icoon */
.menu-items img {
    width: 80px; /* Breedte van het winkelmandje icoon */
    height: auto; /* Hoogte automatisch aanpassen om de verhoudingen te behouden */
    vertical-align: middle; /* Verticale uitlijning in het midden van de balk */
}

/* Dropdown-stijl */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #cf3636;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cf3636;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #cf3636;
}

/* Voeg ruimte boven de content toe om ruimte te maken voor de sticky balk */
body {
    padding-top: 50px; /* Verminder de padding-top om de witruimte boven de balk te verkleinen */
}


/* Stijl voor de index page */

/* Stijl voor de categoriecontainer */
.categories {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Ruimte tussen de categorieën */
    margin: 20px;
}

/* Stijl voor elke categorie */
.category {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schaduw voor de categorieën */
}

.category-title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

/* Stijl voor het raster van producten binnen elke categorie */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Dynamisch raster met minimale breedte van 200px */
    gap: 20px; /* Ruimte tussen de producten */
}

.product-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.product-item h3 {
    margin-top: 0;
}

.product-item p {
    margin-bottom: 10px;
}

.product-item a {
    color: #333;
    text-decoration: none;
}

.product-item a:hover {
    text-decoration: underline;
}


/* Stijl voor de profielpagina */

.profile-container {
    background-color: #fff; /* Achtergrondkleur van het profielgedeelte */
    border: 1px solid #ddd; /* Randkleur */
    padding: 20px; /* Binnenruimte */
    margin: 20px auto; /* Ruimte rondom en centreren */
    max-width: 600px; /* Maximale breedte */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schaduw */
    border-radius: 10px; /* Afgeronde hoeken */
}

.profile-container h1 {
    color: #cf3636; /* Kleur van de titel */
    text-align: center; /* Centreren van de titel */
    margin-bottom: 20px; /* Ruimte onder de titel */
}

.profile-details {
    list-style-type: none; /* Verwijder de standaard lijststijlen */
    padding: 0; /* Geen extra padding */
}

.profile-details li {
    margin-bottom: 10px; /* Ruimte tussen de items */
    font-size: 16px; /* Tekengrootte */
    color: #333; /* Tekstkleur */
}

.profile-details strong {
    color: #cf3636; /* Kleur van de labels */
}

.profile-container h2 a {
    display: inline-block; /* Inline-block om padding toe te passen */
    padding: 10px 20px; /* Binnenruimte */
    background-color: #cf3636; /* Achtergrondkleur */
    color: #fff; /* Tekstkleur */
    text-decoration: none; /* Geen onderstreping */
    border-radius: 5px; /* Afgeronde hoeken */
    text-align: center; /* Centreren van de tekst */
    margin-top: 20px; /* Ruimte boven de link */
}

.profile-container h2 a:hover {
    background-color: #a82d2d; /* Achtergrondkleur bij hover */
}


/* Stijl voor de edit profile pagina */


.edit-profile-container {
    background-color: #fff; /* Achtergrondkleur van het profielgedeelte */
    border: 1px solid #ddd; /* Randkleur */
    padding: 20px; /* Binnenruimte */
    margin: 20px auto; /* Ruimte rondom en centreren */
    max-width: 600px; /* Maximale breedte */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schaduw */
    border-radius: 10px; /* Afgeronde hoeken */
}

.edit-profile-container h1 {
    color: #cf3636; /* Kleur van de titel */
    text-align: center; /* Centreren van de titel */
    margin-bottom: 20px; /* Ruimte onder de titel */
}

.form-group {
    margin-bottom: 15px; /* Ruimte tussen de form-groepen */
}

.form-group label {
    display: block; /* Blokweergave voor label */
    margin-bottom: 5px; /* Ruimte onder het label */
    color: #333; /* Kleur van de labels */
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%; /* Volledige breedte */
    padding: 10px; /* Binnenruimte */
    border: 1px solid #ddd; /* Randkleur */
    border-radius: 5px; /* Afgeronde hoeken */
    box-sizing: border-box; /* Inclusief padding en border in de totale breedte */
}

.submit-btn {
    background-color: #cf3636; /* Achtergrondkleur van de knop */
    color: #fff; /* Tekstkleur van de knop */
    padding: 10px 20px; /* Binnenruimte */
    border: none; /* Geen rand */
    border-radius: 5px; /* Afgeronde hoeken */
    cursor: pointer; /* Cursor wijzigen naar pointer */
    display: block; /* Blokweergave om de knop volledige breedte te geven */
    width: 100%; /* Volledige breedte */
    font-size: 16px; /* Tekengrootte */
    margin-top: 20px; /* Ruimte boven de knop */
}

.submit-btn:hover {
    background-color: #a82d2d; /* Achtergrondkleur bij hover */
}


/* Stijl voor de login pagina */


.login-container {
    max-width: 400px; /* Maximale breedte van het inlogformulier */
    margin: 50px auto; /* Centreren van het formulier */
    padding: 20px; /* Binnenruimte */
    background-color: #fff; /* Achtergrondkleur van het formulier */
    border: 1px solid #ddd; /* Randkleur */
    border-radius: 5px; /* Afgeronde hoeken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schaduw */
}

.login-container h1 {
    color: #cf3636; /* Kleur van de titel */
    text-align: center; /* Centreren van de titel */
    margin-bottom: 20px; /* Ruimte onder de titel */
}

.form-group {
    margin-bottom: 20px; /* Ruimte tussen de form-groepen */
}

.form-group label {
    display: block; /* Blokweergave voor label */
    margin-bottom: 5px; /* Ruimte onder het label */
    color: #333; /* Kleur van de labels */
}

.form-group input[type="text"],
.form-group input[type="password"] {
    width: 100%; /* Volledige breedte */
    padding: 10px; /* Binnenruimte */
    border: 1px solid #ddd; /* Randkleur */
    border-radius: 5px; /* Afgeronde hoeken */
    box-sizing: border-box; /* Inclusief padding en border in de totale breedte */
}

.error-message {
    color: red; /* Kleur van foutmeldingen */
    font-size: 14px; /* Tekengrootte */
}

.remember-me {
    font-size: 14px; /* Tekengrootte */
    margin-bottom: 15px; /* Ruimte onder het 'Remember Me' veld */
}

.form-group input[type="submit"] {
    background-color: #cf3636; /* Achtergrondkleur van de knop */
    color: #fff; /* Tekstkleur van de knop */
    padding: 10px 20px; /* Binnenruimte */
    border: none; /* Geen rand */
    border-radius: 5px; /* Afgeronde hoeken */
    cursor: pointer; /* Cursor wijzigen naar pointer */
    display: block; /* Blokweergave om de knop volledige breedte te geven */
    width: 100%; /* Volledige breedte */
    font-size: 16px; /* Tekengrootte */
    transition: background-color 0.3s; /* Vloeiende overgang bij hover */
}

.form-group input[type="submit"]:hover {
    background-color: #a82d2d; /* Achtergrondkleur bij hover */
}


/* Stijl voor de register pagina */


.register-container {
    max-width: 400px; /* Maximale breedte van het formulier */
    margin: 50px auto; /* Centreren van het formulier */
    padding: 20px; /* Binnenruimte */
    background-color: #fff; /* Achtergrondkleur van het formulier */
    border: 1px solid #ddd; /* Randkleur */
    border-radius: 5px; /* Afgeronde hoeken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Schaduw */
}

.register-container h1 {
    color: #cf3636; /* Kleur van de titel */
    text-align: center; /* Centreren van de titel */
    margin-bottom: 20px; /* Ruimte onder de titel */
}

.form-group {
    margin-bottom: 20px; /* Ruimte tussen de form-groepen */
}

.form-group label {
    display: block; /* Blokweergave voor label */
    margin-bottom: 5px; /* Ruimte onder het label */
    color: #333; /* Kleur van de labels */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%; /* Volledige breedte */
    padding: 10px; /* Binnenruimte */
    border: 1px solid #ddd; /* Randkleur */
}