<!doctype html>
<html>
<head>
    <title>dnd supplies</title>
</head>
<body>
    <div>
        dnd supplies:
        <a href="{{ url_for('index') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a href="{{ url_for('profile') }}">Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('view_cart') }}">Cart</a>
        {% else %}
        <a href="{{ url_for('login') }}">Cart</a>
        {% endif %}
    </div>
    <div>
        {% if current_user.is_authenticated and current_user.admin_rights %}
        Admin Links:
        <a href="{{ url_for('add_data') }}">Add Data</a>
        <a href="{{ url_for('delete_data') }}">Delete Data</a>
        {% endif %}
    </div>
    {% block content %}{% endblock %}
</body>
</html>
