<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Your go-to shop for all D&D supplies and accessories." />
        <meta name="author" content="" />
        <title>D&D Supplies</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='assets/images/logo_dndsupplies.png') }}" alt="logo" width="50" height="50">
                    dnd Supplies
                </a>                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('index') }}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{{url_for('popular_items')}}">Popular Items</a></li>
                                <li><a class="dropdown-item" href="{{url_for('new_items')}}">New Arrivals</a></li>
                            </ul>
                        </li>
                        {% if current_user.admin_rights %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="adminDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admin</a>
                            <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                <li><a class="dropdown-item" href="{{ url_for('manage_shop_data') }}">manage Shop Data</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('statistics') }}">Product Statistics</a></li>
                                <li><a class="dropdown-item" href="{{ url_for('orders') }}">Orders</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('profile') }}">Profile</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('logout') }}">Logout</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                    <a href="{{ url_for('view_cart') }}" class="btn btn-outline-dark d-flex align-items-center">
                        <img src="{{ url_for('static', filename='assets/images/shoppingcart.png') }}" alt="cart_icon" width="40" height="40">
                        <span class="ms-2">Cart</span>
                    </a>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    </body>
</html>
