<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <!-- Basic metas
    ======================================== -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo_dndsupplies.png">
    <!-- Page Title
    ======================================== -->
    <title>dndsupplies</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900" rel="stylesheet">
    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="assets/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="assets/syntax-highlighter/styles/shThemeDefault.css" media="all">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/fontawesome-all.css">
    <link rel="stylesheet" type="text/css" href="assets/css/vendor/perfect-scrollbar.css">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
	<![endif]-->
    <!-- Header starts -->
    <a href="#top" class="back-to-top"><i class="fa fa-arrow-up"></i></a>
    <header class="page-header sticky-top" id="top">
        <div class="container-fluid">
            <nav class="page-nav">
                <a href="https://alithemes.com" class="nav-brand">
                    <img src="assets/images/logo_dndsupplies.png" alt="logo" width="158">
                </a>
                <div class="nav-list">
                    <a href="{{ url_for('index') }}" target="_blank">home</a>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}" target="_blank">login</a>
                    {% else %}
                    <a href="{{ url_for('profile') }}" target="_blank">profile</a>
                    <a href="{{ url_for('logout') }}" target="_blank">logout</a>
                    {% endif %}
                    <!-- <a href="https://alithemes.ticksy.com/" target="_blank">Support</a>
                    <a href="https://themeforest.net/user/alithemes/portfolio" target="_blank">Our Portfolio</a> -->
                    <a href="#" class="toggle-navbar"><i class="far fa-bars"></i></a>
                </div>
                <!-- End of .nav-list -->
            </nav>
        </div>
        <!-- End of .container -->
    </header>








{% extends "base.html" %}
{% block content %}
{% for category in categories %}
<div class="category">
    <h2 class="category-title">{{ category.name }}</h2>
    <div class="product-grid">
        {% for product in products %}
        {% if product.category_id == category.id %}
        <div class="product-item">
            <h3><a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></h3>
            <p>{{ product.description }}</p>
            <p>Price: €{{ product.price }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}