{% extends "base.html" %}
{% block content %}
<div class="categories">
    {% for category in categories %}
    <div class="category">
        <h2 class="category-title">{{ category.name }}</h2>
        <div class="product-grid">
            {% for product in products %}
            {% if product.category_id == category.id %}
            <div class="product-item">
                <div class="product-image">
                    <img src="{{ url_for('static', filename='assets/images/' + product.image_filename) }}" alt="{{ product.name }} Image">
                </div>
                <div class="product-info">
                    <h3><a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></h3>
                    <p>{{ product.description }}</p>
                    <p>Price: €{{ product.price }}</p>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
