{% extends "base.html" %}

{% block content %}
<header class="bg-gray py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">New Items</h1>
            <p class="lead fw-normal text-white-50 mb-0">Discover our latest additions!</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row">
            {% for product in new_items %}
            <div class="col-md-4 col-lg-3 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/images/' + product.image_filename) }}" alt="{{ product.name }} Image">
                    <div class="card-body">
                        <h3 class="card-title"><a class="text-link" href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></h3>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: €{{ product.price }}</p>
                        <p class="card-text">Created At: {{ product.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<footer class="bg-gray py-5">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
    </div>
</footer>
{% endblock %}
