{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Order Details</h1>
    <hr>
    <p><strong>Order ID:</strong> {{ order.id }}</p>
    <p><strong>User ID:</strong> {{ order.user_id }}</p>
    <p><strong>Date:</strong> {{ order.date_ordered.strftime('%Y-%m-%d %H:%M:%S') }}</p>
    <p><strong>Total Price:</strong> {{ order.total_price }}</p>
    <p><strong>Status:</strong>
        {% if order.complete %}
            Complete
        {% else %}
            Not Complete
        {% endif %}
    </p>
    <hr>
    <h2>Delivery Address</h2>
    <hr>
    <p><strong>Country:</strong> {{ order.country }}</p>
    <p><strong>Street:</strong> {{ order.street }}</p>
    <p><strong>Postal Number:</strong> {{ order.postal_number }}</p>
    <p><strong>House Number:</strong> {{ order.house_number }}</p>
    {% if order.bus_number %}
        <p><strong>Bus Number:</strong> {{ order.bus_number }}</p>
    {% endif %}
    
    <hr>
    
    <h2>Order Items</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in order_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="{{ url_for('toggle_order_status', order_id=order.id) }}" method="post">
        <button type="submit" class="btn btn-secondary">
            {% if order.complete %}
                Mark as Not Complete
            {% else %}
                Mark as Complete
            {% endif %}
        </button>
    </form>
</div>
{% endblock %}
