{% extends "base.html" %}
{% block content %}
    <header class="bg-gray py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Reset Password</h1>
                <!-- You can add a subtitle or any additional content here -->
            </div>
        </div>
    </header>
    
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="card p-5 mx-auto" style="max-width: 400px;">
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        <label for="old_password">Old Password:</label>
                        <input type="password" id="old_password" name="old_password" class="form-control mb-3">
                    </div>
                    <div class="form-group">
                        <label for="new_password">New Password:</label>
                        <input type="password" id="new_password" name="new_password" class="form-control mb-3">
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control mb-3">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary mb-2">Reset Password</button>
                    </div>
                    <!-- Knop "Back to Profile" onder de reset knop -->
                    <div class="text-center">
                        <a href="{{ url_for('profile') }}" class="btn btn-secondary">Back to Profile</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
    <footer class="bg-gray py-5">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p>
        </div>
    </footer>
{% endblock %}
