{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h1>Product Statistics</h1>
    <hr>

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Sold Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.total_sold }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
